@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --bgdrop: 0px 4px 25px 0px rgba(0, 0, 0, 0.15);
  --blue-600: rgba(37, 99, 235, 1);
  --blue-gray100: rgba(241, 245, 249, 1);
  --blue-gray200: rgba(226, 232, 240, 1);
  --blue-gray300: rgba(203, 213, 225, 1);
  --blue-gray600: rgba(71, 85, 105, 1);
  --blue-gray900: rgba(15, 23, 42, 1);
  --body-font-family: "Inter", Helvetica;
  --body-font-size: 18px;
  --body-font-style: normal;
  --body-font-weight: 400;
  --body-l-font-family: "Roboto", Helvetica;
  --body-l-font-size: 18px;
  --body-l-font-style: normal;
  --body-l-font-weight: 400;
  --body-l-letter-spacing: 0px;
  --body-l-line-height: 160%;
  --body-letter-spacing: 0px;
  --body-line-height: 25px;
  --body-m-font-family: "Roboto", Helvetica;
  --body-m-font-size: 16px;
  --body-m-font-style: normal;
  --body-m-font-weight: 400;
  --body-m-letter-spacing: 0px;
  --body-m-line-height: 140%;
  --body-s-font-family: "Roboto", Helvetica;
  --body-s-font-size: 14px;
  --body-s-font-style: normal;
  --body-s-font-weight: 400;
  --body-s-letter-spacing: 0px;
  --body-s-line-height: 140%;
  --body-XS-font-family: "Roboto", Helvetica;
  --body-XS-font-size: 12px;
  --body-XS-font-style: normal;
  --body-XS-font-weight: 400;
  --body-XS-letter-spacing: 0px;
  --body-XS-line-height: 140%;
  --bodycolour: rgba(0, 0, 0, 1);
  --button-m-font-family: "Roboto", Helvetica;
  --button-m-font-size: 16px;
  --button-m-font-style: normal;
  --button-m-font-weight: 500;
  --button-m-letter-spacing: 0.5px;
  --button-m-line-height: 24px;
  --button-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  --button-XL-font-family: "Roboto", Helvetica;
  --button-XL-font-size: 24px;
  --button-XL-font-style: normal;
  --button-XL-font-weight: 700;
  --button-XL-letter-spacing: 0.5px;
  --button-XL-line-height: 24px;
  --caption-m-font-family: "Roboto", Helvetica;
  --caption-m-font-size: 20px;
  --caption-m-font-style: normal;
  --caption-m-font-weight: 700;
  --caption-m-letter-spacing: 3px;
  --caption-m-line-height: 100%;
  --defaultalert: rgba(218, 30, 40, 1);
  --defaultwhite: rgba(255, 255, 255, 1);
  --green-100: rgba(220, 252, 231, 1);
  --green-500: rgba(34, 197, 94, 1);
  --green-800: rgba(22, 101, 52, 1);
  --h3-font-family: "Inter", Helvetica;
  --h3-font-size: 24px;
  --h3-font-style: normal;
  --h3-font-weight: 400;
  --h3-letter-spacing: -0.96px;
  --h3-line-height: normal;
  --h4-font-family: "Inter", Helvetica;
  --h4-font-size: 20px;
  --h4-font-style: normal;
  --h4-font-weight: 400;
  --h4-letter-spacing: -0.4px;
  --h4-line-height: normal;
  --heading-1-m-font-family: "Roboto", Helvetica;
  --heading-1-m-font-size: 72px;
  --heading-1-m-font-style: normal;
  --heading-1-m-font-weight: 800;
  --heading-1-m-letter-spacing: 0px;
  --heading-1-m-line-height: 110%;
  --heading-2-font-family: "Roboto", Helvetica;
  --heading-2-font-size: 56px;
  --heading-2-font-style: normal;
  --heading-2-font-weight: 800;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: 110%;
  --heading-6-font-family: "Roboto", Helvetica;
  --heading-6-font-size: 24px;
  --heading-6-font-style: normal;
  --heading-6-font-weight: 700;
  --heading-6-letter-spacing: 0px;
  --heading-6-line-height: 110%;
  --heading-font-family: "Roboto Condensed", Helvetica;
  --heading-font-size: 42px;
  --heading-font-style: normal;
  --heading-font-weight: 700;
  --heading-letter-spacing: -0.84px;
  --heading-line-height: normal;
  --orange-600: rgba(234, 88, 12, 1);
  --purple-100: rgba(243, 232, 255, 1);
  --purple-400: rgba(192, 132, 252, 1);
  --purple-600: rgba(147, 51, 234, 1);
  --purple-800: rgba(107, 33, 168, 1);
  --shadow-dark-s: 0px 0px 2px 0px rgba(0, 0, 0, 0.07), 0px 1px 3px 0px
    rgba(0, 0, 0, 0.1);
  --shadow-dark-XL: 0px 0px 10px 0px rgba(0, 0, 0, 0.07), 0px 20px 25px -5px
    rgba(0, 0, 0, 0.1);
  --subtitle-m-font-family: "Roboto", Helvetica;
  --subtitle-m-font-size: 16px;
  --subtitle-m-font-style: normal;
  --subtitle-m-font-weight: 500;
  --subtitle-m-letter-spacing: 0px;
  --subtitle-m-line-height: 110%;
  --violet-600: rgba(124, 58, 237, 1);
  --white: rgba(255, 255, 255, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
